#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(34, 33, 33, 0.25);
}

#modal{
    width: 350px;
    background-color: white;
    padding: 32px;
    margin: 15vh auto auto;
    text-align: center;
}